.testimonio {
  display: block;
  margin-inline: auto;
  padding-inline: 5rem;
  padding-bottom: 2rem;
  color: $testimonio_text;
  text-align: center;
  &__title {
    padding-bottom: 0.5rem;
    padding-top: 3rem;
    text-align: center;
  }
  &__linea {
    margin-inline: 5rem;
  }
  &__caja {
    text-align: center;
    justify-items: center;
  }
  &__parrafo {
    padding-inline: 3rem;
    padding-block: 3rem;
    font-style: italic;
  }
  &__imagen {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__nombre {
    padding-block: 1rem;
  }
  
//pantalla chica
  @include md {
    display: flex;
  }
}
